.about {
  &__title {
    font-family: @h3-font-family;
    font-size: 40px;
    color: @3-primary-font-color;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 0;
    &::before {
      position: absolute;
      content: "";
      top: 70px;
      left: 0;
      width: 100px;
      height: 6px;
      border-radius: 3px;
      background-color: @1-primary-font-color;
    }
  }

  &__description {
    font-family: @secondary-font-family;
    font-size: 22px;
    color: @3-primary-font-color;
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
    .box-shadow(0px 5px 24px 0 rgba(0, 0, 0, 0.4));
  }

}
