.events {
  &__item {
    .border-radius(3px);
    .box-shadow(0px 5px 24px 0 rgba(0, 0, 0, 0.4));
    margin-bottom: 25px;
  }

  &__title {
    font-family: @h3-font-family;
    font-size: 40px;
    color: @3-primary-font-color;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 0;
    &::before {
      position: absolute;
      content: "";
      top: 70px;
      left: 0;
      width: 100px;
      height: 6px;
      border-radius: 3px;
      background-color: @1-primary-font-color;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &__heading {
    font-family: @primary-font-family;
    font-size: 18px;
    color: @1-primary-font-color;
    padding-left: 35px;
    padding-right: 10px;
  }

  &__date {
    font-family: @primary-font-family;
    font-size: 13px;
    color: #858585;
    padding-left: 35px;
  }

  &__description {
    width: 90%;
    font-family: @secondary-font-family;
    font-size: 16px;
    color: @3-primary-font-color;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

}

.events-button {
  width: 200px;
  font-family: @primary-font-family;
  font-size: 14px;
  background-color: @button-background-color;
  .border-radius(23.5px);

  &_container {
    margin-bottom: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__link {
    color: @3-primary-font-color;
    display: block;
    padding: 20px 0 20px 50px;
    transition-duration: 0.3s;
   
    &:hover {
      text-decoration: none;
      color: @1-primary-font-color;
    }
    &:active {
      text-decoration: underline;
    }
  }

}
