@font-face {
  font-family: "Intro-Caps";
  src: local("Intro-Caps"),
    url("../fonts/Intro-Caps.woff") format("woff");
}

@font-face {
  font-family: "IntroHeadR-Base";
  src: local("IntroHeadR-Base"),
    url("../fonts/introheadr-base-webfont.woff2") format("woff2"),
    url("../fonts/introheadr-base-webfont.woff") format("woff");
}

@font-face {
  font-family: "Orpheus";
  src: local("Orpheus"),
    url("../fonts/Orpheus.woff") format("woff");
}
