.header {
  &__booking {
    font-family: @primary-font-family;
    background-color: @3-primary-font-color;
    padding: 15px 0 15px 0;
    text-align: center;
  }

  &__booking-container {
    @media (max-width: 451px) {
      flex-direction: column;
    }
  }

  &__booking-table,
  &__delivery {
    color: @1-primary-font-color;
    font-size: 11px;
    margin-right: 15px;
    @media (max-width: 451px) {
      font-size: 20px;
    }
  }

  &__delivery {
    margin-left: 15px;
  }

  &__booking-table-phone,
  &__delivery-phone {
    color: @2-primary-font-color;
    font-size: 16px;
    @media (max-width: 451px) {
      font-size: 22px;
    }
  }
}

.header-logo__img {
  max-width: 100%;
  height: auto;
}

.header-cart {
  &__link {
    margin-right: 15px;
  }

  &__img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 10px;
    bottom: 0;
    left: 0;
  }
}
