.slide {
  background-image: linear-gradient(
      to bottom,
      rgba(12, 19, 16, 0.4),
      rgba(12, 19, 16, 0.4)
    ),
    url(../images/body/slider/bg-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.slide__container {
  position: relative;
}

.slide__info {
  padding-top: 90px;
  padding-left: 12px;
}

.slide__title {
  font-family: @primary-font-family;
  font-size: 48px;
  color: @2-primary-font-color;
}

.slide__description {
  width: 90%;
  font-family: @secondary-font-family;
  font-size: 18px;
  color: @2-primary-font-color;
  margin-bottom: 35px;
}

.slide__button {
  border: none;
  font-family: @primary-font-family;
  font-size: 14px;
  background-color: #fbc554;
  border-radius: 23.5px;
  margin-bottom: 165px;
}

.slide__button-link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 20px 60px;
}
