@1-primary-font-color: #a80d26;
@2-primary-font-color: #fff;
@primary-font-family: "Intro-Caps", serif;
@secondary-font-family: "IntroHeadR-Base", serif;
@h3-font-family: "Orpheus", serif;






@desktop: ~"(max-width: 1024px)";
@desktop-large: ~"(max-width: 1280px)";
@tablet: ~"(max-width: 768px)";
@mobile: ~"(max-width: 360px)";
@mobile-small: ~"(max-width: 320px)";